@tailwind base;
@tailwind components;
@tailwind utilities;


@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.auth-form-label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input {
  @apply w-full pl-10 pr-3 py-2 bg-slate-700 border border-slate-600/30 rounded-md text-slate-200 placeholder-slate-400 focus:outline-none focus:ring-1 focus:ring-blue-500/50 focus:border-blue-500/50;
}

.auth-form-icon {
  @apply absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none text-gray-400;
}

.auth-badge {
  @apply inline-block px-3 py-1 text-xs font-semibold text-white bg-blue-600 rounded-full;
}

.auth-btn {
  @apply w-full bg-cyan-500 text-white rounded-lg py-2.5 font-medium
  hover:bg-cyan-600 focus:ring-2 focus:ring-cyan-500;
}

.auth-link {
  @apply text-blue-400 hover:text-blue-300 underline;
}